body {
	font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #111111;
	background-color: #fff;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#options {
	margin: 20px;
	padding: 20px;
	border: 1px solid #111111;
}

h2 {
	margin: 20px;
	margin-bottom: 0;
	font-size: 22px;
}
h3 {
	margin: 10px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.charts {
	padding: 10px;
	margin: 0 auto;
}
.chart {
	width: calc(50% - 10px - 10px);
	margin: 14px 10px;
	float: left;
	background-color: aliceblue;
	box-sizing: border-box;
	position: relative;
}
@media (max-width: 750px) {
	.chart {
		width: calc(100% - 10px - 10px);
	}
}
.chart-container {
	width: 97.5%;
	height: 300px;
}
.chart-info {
	font-size: 9px;
	text-align: right;
	position: absolute;
	top: calc(100% + 1px);
	right: 1px;
}

.selector {
	width: 100%;
	margin: 0 10px;
}
.checkbox {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
}
input[type="checkbox"] {
	margin-right: 5px;
}

.sources {
	margin: 20px;
	font-size: 14px;
}
.sources dd {
	margin-inline-start: 0;
}

.chart svg .y-line-red line {
	stroke: #ff4040;
}
.chart svg .y-line-red text {
	fill: #ff4040;
}
.chart svg .y-line-orange line {
	stroke: #ffa500;
}
.chart svg .y-line-orange text {
	fill: #ffa500;
}
