body {
	font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #111111;
	background-color: #fff;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#options {
	margin: 20px;
	padding: 20px;
	border: 1px solid #111111;
}

#charts {
	padding: 10px;
	margin: 0 auto;
}
.chart {
	width: calc(50% - 10px - 10px);
	margin: 10px 10px;
	padding-top: 10px;
	padding-right: 10px;
	height: 300px;
	float: left;
	background-color: aliceblue;
	box-sizing: border-box;
}
@media (max-width: 750px) {
	.chart {
		width: calc(100% - 10px - 10px);
	}
}
.chart-container {
	width: 100%;
	height: 100%;
}
.chart-info {
	font-size: 9px;
	text-align: right;
}